<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Gestor blogs</title>
</head>
<body>
    <h1>Gestor de blog</h1>
    <table border="1">
        <thead>
            <tr>
                <th>titulo</th>
                <th>contenido</th>
                <th>fecha de publicacion</th>
                <th>Autor</th>
            </tr>
        </thead>
        <tbody>
            {% for articulo in articulos %}
            <tr>
                <td>{{ articulo.nombre }}</td>
                <td>{{ articulo.fecha }}</td>
                <td>{{ articulo.lugar }}</td>
                <td>{{ articulo.autores.nombre }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">No hay blog registrado.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>